@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
  */

body {
	color: var(--foreground);
	background: var(--background);
}

/* Di globals.css atau app.css */
.ant-form-item {
	margin-bottom: 8px !important;
}
